Repository ozum/pg-structure: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write, jsonlint

Notes added by 'git notes add'
  224c734fb8544a1113fcbf9c16173bcc4ae6c001
Due: none

fix: fix column.minValue and column.maxValue
  src/pg-structure/column.ts
  test/column.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

Notes added by 'git notes add'
  80222d1e2323fd6ed4cc7efdcafaea34eb4de2e5
Due: none

feat: add relation.type attribute
  src/pg-structure/relation/m2m-relation.ts
  src/pg-structure/relation/m2o-relation.ts
  src/pg-structure/relation/o2m-relation.ts
  src/types/index.ts
  test/relation/m2m-relation.test.ts
  test/relation/m2o-relation.test.ts
  test/relation/o2m-relation.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

Notes added by 'git notes add'
  3e58acb7311f1bff8bb65693c4b5db3828f94f2b
Due: none

fix: fix empty returning relation name
  .yo-rc.json
  docs/nav.01.guide/guide--nc/relation-names.md
  module-files/configs/.eslintrc.js
  package-lock.json
  package.json
  src/pg-structure/relation/m2m-relation.ts
  src/pg-structure/relation/m2o-relation.ts
  src/pg-structure/relation/o2m-relation.ts
  src/types/index.ts
  src/util/helper.ts
  src/util/naming-function/index.ts
  src/util/naming-function/optimal.ts
  src/util/naming-function/short.ts
  test/db.test.ts
  test/relation/m2m-relation.test.ts
  test/relation/m2o-relation.test.ts
  test/relation/o2m-relation.test.ts
  test/test-helper/get-db.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

Notes added by 'git notes add'
  715dd119b0101a387b78675cfcce81faee0f9033
Due: none

docs: add tagline to docs
  docs/README.md
Due: prettier --write

feat: add multi-range types
  module-files/sql/14/type.sql
  src/index.ts
  src/main.ts
  src/pg-structure/type/multi-range-type.ts
  src/types/query-result.ts
  test/schema.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

fix: correct eslint errors
  .husky/.gitignore
  jest.config.js
  lint-staged.config.js
  package-lock.json
  package.json
  prettier.config.js
  src/main.ts
  src/pg-structure/entity/table.ts
  src/pg-structure/schema.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

fix: change types
  src/util/helper.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

test: make test compatible with CI
  package-lock.json
  package.json
  src/util/helper.ts
  test/pg-structure.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

test: remove test
  src/main.ts
  test/pg-structure.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

Notes added by 'git notes add'
  3d5b76e418bce1cea1653b7b3251870dcff184fc
Due: none

fix(triggers): fix introspection on triggers without WHEN clauses
  module-files/sql/11/trigger.sql
  module-files/sql/12/trigger.sql
  module-files/sql/9/trigger.sql
  test/trigger.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

fix: fix build process
  .yo-rc.json
  package-lock.json
  package.json
  src/pg-structure/column.ts
  src/util/helper.ts
  test/column.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

Notes added by 'git notes add'
  04b160e104d0e743abaea53051b19003b8dc574d
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

feat: add column.isGenerated
  module-files/sql/12/column.sql
  src/pg-structure/column.ts
  src/types/query-result.ts
  test/column.test.ts
  test/pg-structure.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

docs: fix readme
  .github/workflows/main.yml
  README.md
  README.njk
Due: prettier --write

Notes added by 'git notes add'
  046d3e6ae5df372c3934e402e86e6ee03592941d
Due: none

feat: add deferred to contraints
  module-files/scripts/tsmod.js
  module-files/sql/9/constraint.sql
  module-files/sql/legacy/alternative-queries/column from information_schema.sql
  module-files/sql/legacy/alternative-queries/column-detailed-with-join.sql
  module-files/sql/legacy/alternative-queries/domain-detailed-with-join.sql
  module-files/sql/legacy/legacy/column.sql
  module-files/sql/legacy/legacy/constraint-column.sql
  module-files/sql/legacy/legacy/constraint.sql
  module-files/sql/legacy/legacy/db.sql
  module-files/sql/legacy/legacy/index-column.sql
  module-files/sql/legacy/legacy/index.sql
  module-files/sql/legacy/legacy/referential-constraint.sql
  module-files/sql/legacy/legacy/schema.sql
  module-files/sql/legacy/legacy/table.sql
  module-files/sql/legacy/legacy/type.sql
  module-files/sql/legacy/legacy2/column.sql
  module-files/sql/legacy/legacy2/composite-type.sql
  module-files/sql/legacy/legacy2/constraint.sql
  module-files/sql/legacy/legacy2/index.sql
  module-files/sql/legacy/legacy2/schema.sql
  module-files/sql/legacy/legacy2/type.sql
  module-files/sql/legacy/legacy3/column-detailed-with-join.sql
  module-files/sql/legacy/legacy3/column.sql
  module-files/sql/legacy/legacy3/constraint.sql
  module-files/sql/legacy/legacy3/domain-detailed-with-join.sql
  module-files/sql/legacy/legacy3/index.sql
  module-files/sql/legacy/legacy3/table.sql
  module-files/sql/legacy/legacy3/type.sql
  package-lock.json
  package.json
  src/pg-structure/base/constraint.ts
  src/types/query-result.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

Notes added by 'git notes add'
  42d21fd85dbfffd39b3daa5ef750e813baa791b2
Due: none

fix: update indexable-array package
  package-lock.json
  package.json
  src/main.ts
  src/util/helper.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

fix: update github actions
  .github/workflows/main.yml
Due: none

Notes added by 'git notes add'
  a831c3ff9dcb6d92255e50932af8c22e46f83b2a
Due: none

fix: update indexable-array
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ca06e5761e179d35e20ee6305049de1a3d28675c
Due: none

test: add a test for FK without index
  test/schema.test.ts
  test/test-helper/ddl/main.sql
  test/test-helper/ddl/main.txp
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

fix(main): escape underscore to avoid over-ignoring schemas
  src/main.ts
  src/pg-structure/constraint/foreign-key.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

fix: exclude from test coverage
  src/pg-structure/constraint/foreign-key.ts
  src/types/index.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

fix: add coverage exception
  src/pg-structure/constraint/foreign-key.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

doc: add comment about SQL wildcard.
  src/types/index.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

Notes added by 'git notes add'
  eee84a9ebb1882f4e769920b9280c7a04ac32261
Due: none

Add support for domains
  src/pg-structure/column.ts
  test/column.test.ts
  test/test-helper/ddl/main.sql
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

Path conditions:
  eslint --fix: (any of: *.{jsx,tsx}) or (any of: *.{js,ts})
  jest --bail --coverage --findRelatedTests --config=jest.config.json: any of: *.{js,ts}
  prettier --write: any of: *.{json,md,gql,less,css}
  jsonlint: any of: .*{rc, json}
