Repository ozum/pg-structure: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write, jsonlint

.lintstagedrc:

{
  "*.{jsx,tsx}": ["eslint --fix", "git add"],
  "*.{js,ts}": ["eslint --fix", "git add", "jest --bail --coverage --findRelatedTests --config=jest.config.json"],
  "*.{json,md,gql,less,css}": ["prettier --write", "git add"],
  ".*{rc, json}": "jsonlint"
}

chore(release): 6.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add support for indexes on materialized view
  src/index.ts
  src/pg-structure/constraint/foreign-key.ts
  src/pg-structure/entity/materialized-view.ts
  src/pg-structure/index.ts
  test/entity/materialized-view.test.ts
  test/index.test.ts
  test/test-helper/ddl/main.sql
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

docs: update docs
  assets/images/wallabyjs.png
  docs/.vuepress/public/images/wallabyjs.png
  docs/README.md
Due: prettier --write

chore(release): 6.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add materialized view and entitiy types
  module-files/sql/type.sql
  src/index.ts
  src/pg-structure/column.ts
  src/pg-structure/constraint/foreign-key.ts
  src/pg-structure/db.ts
  src/pg-structure/entity/materialized-view.ts
  src/pg-structure/index.ts
  src/pg-structure/schema.ts
  src/pg-structure/type/composite-type.ts
  src/pg-structure/type/domain.ts
  src/types/query-result.ts
  src/util/helper.ts
  test/index.test.ts
  test/schema.test.ts
  test/test-helper/ddl/main.sql
  test/test-helper/ddl/main.txp
  test/type/composite-type.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

7.0.0
  package-lock.json
  package.json
Due: prettier --write

feat: support different queries for different pg versions
  module-files/sql/11/column.sql
  module-files/sql/11/constraint.sql
  module-files/sql/11/entity.sql
  module-files/sql/11/index.sql
  module-files/sql/11/type.sql
  module-files/sql/9/column.sql
  module-files/sql/9/constraint.sql
  module-files/sql/9/entity.sql
  module-files/sql/9/index.sql
  module-files/sql/9/type.sql
  module-files/sql/legacy/alternative-queries/column from information_schema.sql
  module-files/sql/legacy/alternative-queries/column-detailed-with-join.sql
  module-files/sql/legacy/alternative-queries/domain-detailed-with-join.sql
  module-files/sql/legacy/legacy/column.sql
  module-files/sql/legacy/legacy/constraint-column.sql
  module-files/sql/legacy/legacy/constraint.sql
  module-files/sql/legacy/legacy/db.sql
  module-files/sql/legacy/legacy/index-column.sql
  module-files/sql/legacy/legacy/index.sql
  module-files/sql/legacy/legacy/referential-constraint.sql
  module-files/sql/legacy/legacy/schema.sql
  module-files/sql/legacy/legacy/table.sql
  module-files/sql/legacy/legacy/type.sql
  module-files/sql/legacy/legacy2/column.sql
  module-files/sql/legacy/legacy2/composite-type.sql
  module-files/sql/legacy/legacy2/constraint.sql
  module-files/sql/legacy/legacy2/index.sql
  module-files/sql/legacy/legacy2/schema.sql
  module-files/sql/legacy/legacy2/type.sql
  module-files/sql/legacy/legacy3/column-detailed-with-join.sql
  module-files/sql/legacy/legacy3/column.sql
  module-files/sql/legacy/legacy3/constraint.sql
  module-files/sql/legacy/legacy3/domain-detailed-with-join.sql
  module-files/sql/legacy/legacy3/index.sql
  module-files/sql/legacy/legacy3/table.sql
  module-files/sql/legacy/legacy3/type.sql
  src/index.ts
  src/pg-structure/db.ts
  src/util/helper.ts
  test/db.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

chore(release): 7.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: support PostgreSQL functions, version based SQL queries
  module-files/sql/11/column.sql
  module-files/sql/11/constraint.sql
  module-files/sql/11/entity.sql
  module-files/sql/11/function.sql
  module-files/sql/11/index.sql
  module-files/sql/11/type.sql
  module-files/sql/9/column.sql
  module-files/sql/9/function.sql
  module-files/sql/9/type.sql
  src copy.zip
  src/index.ts
  src/pg-structure/base/entity.ts
  src/pg-structure/base/func.ts
  src/pg-structure/base/type.ts
  src/pg-structure/column.ts
  src/pg-structure/db.ts
  src/pg-structure/function-argument.ts
  src/pg-structure/function/aggregate-function.ts
  src/pg-structure/function/normal-function.ts
  src/pg-structure/function/procedure.ts
  src/pg-structure/function/window-function.ts
  src/pg-structure/schema.ts
  src/pg-structure/type/built-in-type.ts
  src/pg-structure/type/domain.ts
  src/pg-structure/type/pseudo-type.ts
  src/types/index.ts
  src/types/query-result.ts
  src/util/built-in-types.ts
  src/util/helper.ts
  test/base/func.test.ts
  test/db.test.ts
  test/function-argument.test.ts
  test/test-helper/ddl/main.sql
  test/test-helper/ddl/main.txp
  test/type/builtin-type.test.ts
  test/type/domain.test.ts
  test/util/helper.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

chore(release): 7.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: fix linting
  src/types/query-result.ts
  test/base/entity.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

chore(release): 7.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: delete unused file
  module-files/sql/9/trigger.sql
  src/index.ts
  src/pg-structure/base/func.ts
  src/pg-structure/db.ts
  src/pg-structure/entity/table.ts
  src/pg-structure/entity/view.ts
  src/pg-structure/function-argument.ts
  src/pg-structure/trigger.ts
  src/types/index.ts
  src/types/query-result.ts
  test/test-helper/ddl/main.sql
  test/test-helper/ddl/main.txp
  test/trigger.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

chore(release): 7.2.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: update docs
  src/pg-structure/base/func.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

chore(release): 7.2.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Fix for non-sequential attribute numbers causing index to have the wrong or missing columns
  src/index.ts
  test/test-helper/ddl/main.sql
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

feat: add sequences
  module-files/sql/9/entity.sql
  package.json
  src/index.ts
  src/pg-structure/db.ts
  src/pg-structure/entity/sequence.ts
  src/pg-structure/schema.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

fix(sql): there is no regexp_match on pg9
  module-files/sql/9/trigger.sql
Due: none

docs(typos): small typos in comments
  src/index.ts
  src/pg-structure/base/db-object.ts
  src/pg-structure/base/func.ts
  src/pg-structure/constraint/foreign-key.ts
  src/pg-structure/constraint/unique-constraint.ts
  src/pg-structure/db.ts
  src/pg-structure/entity/table.ts
  src/pg-structure/index.ts
  src/pg-structure/relation/m2m-relation.ts
  src/pg-structure/relation/m2o-relation.ts
  src/pg-structure/schema.ts
  src/types/query-result.ts
  src/util/get-adjectives.ts
  src/util/helper.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

fix(views): array detection when missing attndims
  module-files/sql/9/column.sql
Due: none

chore(npm): add prepare for git install support
  package.json
Due: prettier --write

chore(release): 7.2.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: support partitioned tables
  assets/images/codeweavers.png
  module-files/sql/9/column.sql
  module-files/sql/9/entity.sql
  module-files/sql/9/type.sql
  src/index.ts
  test/schema.test.ts
  test/test-helper/ddl/main.sql
  test/test-helper/ddl/main.txp
  test/test-helper/global-setup.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

chore(release): 7.2.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update column.sql
  module-files/sql/9/column.sql
Due: none

docs: update web site homepage
  docs/.vuepress/api-sidebar-relative.json
  docs/.vuepress/api-sidebar.json
  docs/.vuepress/public/images/codeweavers.png
  docs/README.md
  src/pg-structure/column.ts
  src/pg-structure/trigger.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

chore(release): 7.2.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: no triggers on psql 11
  module-files/sql/11/trigger.sql
Due: none

fix: fix triggers fro PostgreSQL 12+
  LICENSE
  module-files/sql/12/trigger.sql
  package.json
Due: prettier --write

chore(release): 7.2.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add sequence support
  module-files/sql/9/entity.sql
  src copy.zip
  src/index.ts
  src/pg-structure/db.ts
  src/pg-structure/entity/sequence.ts
  src/pg-structure/schema.ts
  test/entity/sequence.test.ts
  test/entity/view.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

chore(release): 7.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d1b598b1fcddf2740dd293ac4ca4d5870c83d6f9
Due: none

test: fix tests succeeding without pg server
  .github/workflows/main.yml
  test/test-helper/global-setup.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

ci: fix PostgreSQL in CI
  .github/workflows/main.yml
Due: none

ci: fix typo in CI script
  .github/workflows/main.yml
Due: none

ci: elevate pg user privilege
  .github/workflows/main.yml
Due: none

ci: update workflow
  .github/workflows/main.yml
  .yo-rc.json
  module-files/configs/lint-staged.config.js
  module-files/configs/vuepress-config.js
  package-lock.json
  package.json
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write
