Repository ozum/pg-structure: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write, jsonlint

.lintstagedrc:

{
  "*.{jsx,tsx}": ["eslint --fix", "git add"],
  "*.{js,ts}": ["eslint --fix", "git add", "jest --bail --coverage --findRelatedTests --config=jest.config.json"],
  "*.{json,md,gql,less,css}": ["prettier --write", "git add"],
  ".*{rc, json}": "jsonlint"
}

chore(release): 5.10.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: improve basic example
  README.md
  docs/README.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 5.10.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 5.10.6
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: prettier --write

fix: fix typo. From BuiltinType to BuiltInType
  src/index.ts
  test/type/builtin-type.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

chore(release): 5.10.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: fix includeSchemas parameter. Fixes #45
  docs/nav.01.guide/guide--nc/FAQ.md
  docs/nav.01.guide/guide--nc/usage.md
  src/index.ts
  src/util/built-in-types.ts
  test/pg-structure.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

chore(release): 5.10.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: update home page
  assets/images/sqlmanager.png
  docs/.vuepress/public/images/sqlmanager.png
  docs/README.md
Due: prettier --write

chore(release): 5.10.9
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: update dependencies
  .devkeeperrc.json
  docs/.vuepress/config.js
  docs/nav.01.guide/guide--nc/usage.md
  package-lock.json
  package.json
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

chore(release): 5.10.10
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 5.10.10
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: prettier --write

fix: fix ending pool when pool is used
  src/index.ts
  src/pg-structure/column.ts
  src/pg-structure/constraint/foreign-key.ts
  src/pg-structure/db.ts
  src/pg-structure/entity/table.ts
  src/pg-structure/index.ts
  src/pg-structure/schema.ts
  src/util/helper.ts
  src/util/naming-function/descriptive.ts
  src/util/naming-function/short.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

chore(release): 5.10.11
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: update packages
  .huskyrc
  package-lock.json
  package.json
Due: prettier --write, jsonlint

chore(release): 5.10.12
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: update docs
  README.njk
Due: none

chore(release): 5.10.13
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 5.10.13
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: prettier --write

fix: update dev packages
  package-lock.json
  package.json
Due: prettier --write

chore(release): 5.10.14
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: format
  src/index.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

chore(release): 5.10.15
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: fix circular dependencies
  docs/nav.01.guide/guide--nc/relation-names.md
  package-lock.json
  package.json
  src/index.ts
  src/pg-structure/base/relation.ts
  src/pg-structure/db.ts
  src/pg-structure/relation/m2m-relation.ts
  src/pg-structure/relation/m2o-relation.ts
  src/pg-structure/relation/o2m-relation.ts
  src/types/index.ts
  src/util/get-adjectives.ts
  src/util/get-aliases.ts
  src/util/helper.ts
  src/util/memoize-serializer.ts
  src/util/naming-function/descriptive.ts
  src/util/naming-function/index.ts
  src/util/naming-function/short.ts
  src/util/strip.ts
  test/column.test.ts
  test/pg-structure.test.ts
  test/test-helper/get-db.ts
  test/test-helper/global-setup.ts
  test/util/helper.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

chore(release): 6.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: update packages
  .huskyrc
  package-lock.json
  package.json
Due: prettier --write, jsonlint

chore(release): 6.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add option to keep pg connection
  src/index.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

chore(release): 6.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: remove LICENSE from package.files
  package.json
Due: prettier --write

chore(release): 6.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: update packages
  .huskyrc
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write, jsonlint
