Repository ozum/pg-structure: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write, jsonlint

.lintstagedrc:

{
  "*.{jsx,tsx}": ["eslint --fix", "git add"],
  "*.{js,ts}": ["eslint --fix", "git add", "jest --bail --coverage --findRelatedTests --config=jest.config.json"],
  "*.{json,md,gql,less,css}": ["prettier --write", "git add"],
  ".*{rc, json}": "jsonlint"
}

fix: fix docs
  .husky/.gitignore
  .yo-rc.json
  module-files/configs/vuepress-config.js
  module-files/scripts/tsmod.js
  package-lock.json
  package.json
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

Notes added by 'git notes add'
  7224130579ab7de30cea047b36a4810475957ac7
Due: none

docs: fix broken docs build
  module-files/scripts/tsmod.js
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

docs: fix EXDEV error thrown by netlify
  module-files/scripts/tsmod.js
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

fix: update docs
  .github/workflows/main.yml
  .yo-rc.json
  module-files/scripts/tsmod.js
  package-lock.json
  package.json
  src/main.ts
  src/types/index.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

Notes added by 'git notes add'
  3a01101c87571f54733a3c3091317580bbd36c90
Due: none

docs: fix typo
  src/types/index.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

fix: move @types/pg to devDependencies
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c4000f63a2976c5041836b84257aef3e918de081
Due: none

feat: add environment variable support for pg client config
  README.md
  README.njk
  docs/README.md
  docs/nav.01.guide/guide--nc/examples.md
  docs/nav.01.guide/guide--nc/usage.md
  package-lock.json
  package.json
  src/main.ts
  src/types/index.ts
  src/util/helper.ts
  test/util/helper.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

Notes added by 'git notes add'
  62276c13c23a5dd7c56df7df21a2d931415852c1
Due: none

fix: add message to connection error
  src/main.ts
  src/util/helper.ts
  test/pg-structure.test.ts
  test/util/helper.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

Notes added by 'git notes add'
  0d52aeaa188b3f00536ea3a63a5c8a915a445ca2
Due: none

fix: update packages
  .husky/prepare-commit-msg
  .yo-rc.json
  docs/nav.01.guide/guide--nc/usage.md
  module-files/scripts/tsmod.js
  package-lock.json
  package.json
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

Notes added by 'git notes add'
  92c24df54abe55734fa0bf5ea49b41b345293570
Due: none

fix: refix netlify build step
  module-files/scripts/tsmod.js
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

Notes added by 'git notes add'
  41a409e92aa3e577aa9b602383a4d9eebefa9f6d
Due: none

feat: make client config argument optional
  module-files/configs/vuepress-config.js
  src/main.ts
  src/util/helper.ts
  test/pg-structure.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

Notes added by 'git notes add'
  f6fa6aaa9e10abbcbcedf6ee64b2d54f0962ef0b
Due: none

fix: fix type definition
  src/main.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

Notes added by 'git notes add'
  70c6974fc3ebbb63d90ac76306aefa9a9e28e864
Due: none

fix: update packages
  .env.example
  .yo-rc.json
  README.md
  README.njk
  module-files/configs/tsconfig.json
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0eb1d7fab73dd3800565e13c20daf8f22ddff90f
Due: none

feat: add module feature to relation name functions
  docs/nav.01.guide/guide--nc/relation-names.md
  src/main.ts
  src/pg-structure/db.ts
  src/pg-structure/relation/m2m-relation.ts
  src/pg-structure/relation/m2o-relation.ts
  src/pg-structure/relation/o2m-relation.ts
  src/types/index.ts
  src/util/naming-function/descriptive.ts
  src/util/naming-function/index.ts
  src/util/naming-function/short.ts
  test/relation/m2o-relation.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

test: fix test
  test/db.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

Notes added by 'git notes add'
  149c714b8accd02e838e013c25d8479f377aedc1
Due: none

docs: add new examples to relationNameFunctions option
  src/types/index.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

fix: update homepage
  .yo-rc.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  68d030a3b5b2fcff8273016e6ce49e1a6107e2de
Due: none

docs: hide db._relationNameFunctions in docs
  src/pg-structure/db.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

feat: add toMany attribute ro relations
  .github/workflows/main.yml
  .yo-rc.json
  LICENSE
  module-files/scripts/tsmod.js
  module-files/template-partials/installation
  package-lock.json
  package.json
  src/pg-structure/base/relation.ts
  src/pg-structure/relation/m2m-relation.ts
  src/pg-structure/relation/o2m-relation.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json, prettier --write

Notes added by 'git notes add'
  6e6a794f3ea5b0031caf4648b88468568d1b163c
Due: none

feat: add mandatoryParent attribute to foreign key
  src/pg-structure/base/relation.ts
  src/pg-structure/constraint/foreign-key.ts
  src/pg-structure/relation/m2m-relation.ts
  src/pg-structure/relation/m2o-relation.ts
  src/pg-structure/relation/o2m-relation.ts
  test/constraint/foreign-key.test.ts
  test/relation/m2m-relation.test.ts
  test/relation/m2o-relation.test.ts
  test/relation/o2m-relation.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

fix: don't assign read-only variable
  src/pg-structure/base/relation.ts
  src/pg-structure/relation/m2m-relation.ts
  src/pg-structure/relation/o2m-relation.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

fix: fix toMany attribute
  src/pg-structure/base/relation.ts
  src/pg-structure/relation/m2m-relation.ts
  src/pg-structure/relation/m2o-relation.ts
  src/pg-structure/relation/o2m-relation.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

fix: fix test for relation
  src/pg-structure/relation/m2m-relation.ts
  src/pg-structure/relation/m2o-relation.ts
  src/pg-structure/relation/o2m-relation.ts
  test/base/relation.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

Notes added by 'git notes add'
  d666b96767152e2ab3b1edbd63d9d81c67bae9ee
Due: none

feat: add parentalName attribute to column
  src/pg-structure/column.ts
  test/column.test.ts
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json

Notes added by 'git notes add'
  da171ac1b2a5b620c2b2f9c6b9c20a7e913daa41
Due: none

feat: add column.minValue, column.maxValue and type.numericType
  src/pg-structure/base/type.ts
  src/pg-structure/column.ts
  src/types/index.ts
  test/base/type.test.ts
  test/column.test.ts
  test/test-helper/ddl/main.sql
  test/test-helper/ddl/main.txp
Due: eslint --fix, jest --bail --coverage --findRelatedTests --config=jest.config.json
